[submodule "Faddle/vendor/spdlog"]
	path = Faddle/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "glfw"]
	path = glfw
	url = https://github.com/TheCherno/glfw
[submodule "Faddle/vendor/GLFW"]
	path = Faddle/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Faddle/vendor/imgui"]
	path = Faddle/vendor/imgui
	url = https://github.com/TheCherno/imgui
